body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.form-container {
  background-color: #e0bd6c;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  background-color: #4c4236;
  color: #f7f7f7;
  padding: 10px 20px;
  margin: -20px -20px 20px -20px;
  text-align: center;

}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="age"],
.input-group select,
.input-group input[type="radio"],
.input-group input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group select {
  display: block;
}

.submit-button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.display-info {
  background-color: #2b7c69;
  padding: 10px;
  margin-top: 20px;
  border-top: 2px solid #deb887;
}

.display-info p {
  font-size: 16px;
  color: #f8f3f3;
  margin: 5px 0;
}
