.container{
    height: 500px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
}

.item{
    height: 70px;
    width: 350px;
    margin: 5px;
    background-color: olive;
}