body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(istockphoto-819633338-640_adpp_is.mp4);
    background-repeat: no-repeat;
    background-size: cover;
}

.converter-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.converter-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.converter-container div {
    margin-bottom: 10px;
}

.converter-container label {
    display: block;
    margin-bottom: 7px;
}

.converter-container select,
.converter-container input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.converter-container button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.converter-container button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#switch-btn {
    margin-top: 20px;
}
#sum {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
