.h1 {
  font-family: 'Roboto', sans-serif; 
  color: #a1ce9c; 
  text-transform: uppercase; 
  text-align: center; 
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.2s;
  }
  
  .button:hover {
    background-color: #45a049;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .button:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .button-remove {
    background-color: #f44336; 
  }
  
  .button-remove:hover {
    background-color: #d32f2f; 
  }
  
  .button-remove:active {
    background-color: #b71c1c; 
  }
  
  .filter-button {
    margin-right: 8px;
  }
  
  .filter-button-all {
    background-color: #c53c3c9c; 
  }
  
  .filter-button-completed {
    background-color: #34179c; 
  }
  
  .filter-button-active {
    background-color: #28dbc9; 
  }
  
  .filter-button-active.active,
  .filter-button-completed.active,
  .filter-button-all.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  